<a href="https://colab.research.google.com/github/minhanl/introduction-to-data-science/blob/master/week12_A107260035_%E6%9D%8E%E6%97%BB%E7%BF%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = int(input("請輸入起始的正整數：")) 
y = int(input("請輸入終止的正整數："))
for i in range(x, y+1):
  print(i)

請輸入起始的正整數：1
請輸入終止的正整數：50
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [2]:
x = int(input("請輸入起始的正整數：")) 
y = int(input("請輸入終止的正整數："))
odds = [] # 空的list
for i in range(x, y+1):
  mod = i % 2
  if mod == 1:
    odds.append(i)
print(odds)

請輸入起始的正整數：10
請輸入終止的正整數：80
[11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79]

In [3]:
user_int = int(input("請輸入一個正整數："))
divisors = [] # 因數分解
for i in range(1, user_int+1):
  if user_int % 1 == 0:
    divisors.append(i)
print(divisors)
n_divisors = len(divisors)
if n_divisors == 2 :
  print("{}是質數".format(user_int))
else:
  print("{}不是質數".format(user_int))

請輸入一個正整數：30
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
30不是質數

In [5]:
# random 產生 1 個隨機數
import random

random.randint(1, 1000)
# random 產生 100 個隨機數
random_integers = [] # 隨機數
for i in range(100): # 產生個數
  rand_int = random.randint(1, 1000) # 範圍
  random_integers.append(rand_int)
print(random_integers)
print(len(random_integers))
# 找出第一大與第一小的數字
print(max(random_integers))
print(min(random_integers))
# 找出第二大與第二小的數字
rand_int_unique = set(random_integers)
rand_int_unique_list = list(rand_int_unique)
print(rand_int_unique_list)
rand_int_unique_list.sort()
print(rand_int_unique_list[1]) # second min
print(rand_int_unique_list[-2]) # second max

[357, 203, 397, 252, 734, 376, 12, 544, 228, 824, 600, 93, 428, 416, 670, 316, 44, 908, 409, 492, 295, 33, 196, 483, 344, 253, 79, 119, 927, 407, 352, 289, 279, 418, 782, 17, 764, 396, 455, 548, 845, 942, 41, 687, 527, 607, 218, 809, 111, 876, 337, 14, 804, 758, 972, 273, 783, 477, 146, 595, 794, 746, 322, 524, 908, 409, 428, 163, 247, 88, 902, 222, 768, 617, 657, 74, 658, 600, 27, 387, 816, 745, 639, 498, 109, 838, 595, 757, 107, 673, 846, 84, 913, 551, 405, 393, 726, 228, 605, 865]
100
972
12
[12, 524, 14, 527, 17, 27, 544, 33, 548, 551, 41, 44, 74, 79, 595, 84, 600, 88, 93, 605, 607, 617, 107, 109, 111, 119, 639, 657, 146, 658, 670, 673, 163, 687, 196, 203, 726, 218, 734, 222, 228, 745, 746, 757, 758, 247, 764, 252, 253, 768, 782, 783, 273, 279, 794, 289, 804, 295, 809, 816, 824, 316, 322, 838, 845, 846, 337, 344, 352, 865, 357, 876, 376, 387, 902, 393, 908, 397, 396, 913, 405, 407, 409, 927, 416, 418, 428, 942, 455, 972, 477, 483, 492, 498]
14
942

In [6]:
squared = []
for i in range(10):
  squared.append(i**2)
print(squared)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
squared = [i**2 for i in range(10)] 
print(squared)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
odds_squared = []
for i in range(10):
  if i % 2 == 1:
    odds_squared.append(i**2)
print(odds_squared)

[1, 9, 25, 49, 81]

In [9]:
odds_squared =[i**2 for i in range(10) if i % 2 == 1]
print(odds_squared)

[1, 9, 25, 49, 81]

In [10]:
random_integers = [random.randint(1, 100) for i in range(10)]
is_odd_ints = []
for i in random_integers:
  if i % 2 == 1:
    is_odd_ints.append(True)
  else:
    is_odd_ints.append(False)
print(random_integers)
print(is_odd_ints)

[41, 78, 66, 20, 68, 68, 44, 39, 94, 93]
[True, False, False, False, False, False, False, True, False, True]

In [11]:
random_integers = [random.randint(1, 100) for i in range(20)]
is_odd_ints = [True if i % 2 == 1 else False for i in random_integers]
print(random_integers)
print(is_odd_ints)

[19, 82, 91, 65, 4, 41, 27, 52, 47, 11, 52, 59, 89, 12, 38, 70, 93, 49, 33, 80]
[True, False, True, True, False, True, True, False, True, True, False, True, True, False, False, False, True, True, True, False]

In [12]:
avengers_ratings = [8.1, 7.3, 8.5, 8.8] 
recommendations = [i for i in avengers_ratings if i >= 8] 
print(recommendations)

[8.1, 8.5, 8.8]

In [13]:
avengers = ["The Avengers", "Avengers: Age of Ultron", "Avengers: Infinity War", "Avengers: Endgame"]
for idx, movie in enumerate(avengers):
    print("第 {} 部上映的復仇者聯盟電影:{}".format(idx+1, movie))

第 1 部上映的復仇者聯盟電影:The Avengers
第 2 部上映的復仇者聯盟電影:Avengers: Age of Ultron
第 3 部上映的復仇者聯盟電影:Avengers: Infinity War
第 4 部上映的復仇者聯盟電影:Avengers: Endgame

In [14]:
years = [2012, 2015, 2018, 2019]
for year, movie in zip(years, avengers):
    print("{}上映的年份是{}".format(movie, year))

The Avengers上映的年份是2012
Avengers: Age of Ultron上映的年份是2015
Avengers: Infinity War上映的年份是2018
Avengers: Endgame上映的年份是2019